.page-link {
    display: inline-flex;
    border: 1px solid #e8dfce;
    background-color: #fdf4ff;
    color: #361c05;
    padding: 10px 15px;
}

.page-link:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-link:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-link:hover,
.page-link:focus {
    color: #6c2e0d;
    background-color: #eddef0;
}

.page-link.active {
    color: #e8dfce;
    background-color: #3e1945;
}